/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Estrutura principal */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Paleta de cores */
:root {
  --primary-color: #1f7a8c;   /* Azul para títulos e botões */
  --secondary-color: #bfdbf7; /* Azul claro para background */
  --text-color: #333;         /* Cor padrão do texto */
  --light-text-color: #555;   /* Cor mais clara para subtítulos */
  --accent-color: #f28d35;    /* Cor de destaque */
}

/* Títulos */
h1, h2, h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
}
